html{
    background-color: rgba(2, 76, 2, 0.778);
}
h1{
    border: 5px solid black;
border-radius: 20px;
padding:30px 0px 30px 10px;
    background-color: #e7d3a3;
    font-family: 'Dancing Script', cursive;
font-family: 'Josefin Sans', sans-serif;
font-size:70px;
}
div{
    border:3px solid black;
    border-radius: 10px;
}
img{
    border:3px solid black;
    border-radius: 10px;
}
b{
    font-family: 'Dancing Script', cursive;
font-family: 'Josefin Sans', sans-serif;
font-size: 30px;
border: 3px solid black;
border-radius: 10px;
background-color: #e7d3a3;
padding-left: 15px;
padding-right:15px;
padding-top:3px;
padding-bottom: 3px;
}
hr{
    color: black;
}
h2{
    border: 3px solid black;
    border-radius: 20px;
    padding: 30px 0px 30px 10px;
    font-family: 'Dancing Script', cursive;
font-family: 'Josefin Sans', sans-serif;
font-size: 50px;
background-color: #e7d3a3;
}
